.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  min-height: 100vh;
}

.blogs h2 {
  font-size: 38px;
  text-align: center;
}
.blogs h3 {
  font-size: 28px;
}
.blogItem {
  max-width: 60vw;
}
.blogItem button {
  color: white;
  background-color: black;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 12px;
  margin-left: 310px;
}
@media only screen and (max-width: 800px) {
  .blogItem {
    max-width: 80vw;
  }
}
@media only screen and (max-width: 520px) {
  .blogs h2 {
    font-size: 30px;
  }
  .blogs h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .blogItem {
    max-width: 90vw;
  }
  .blogItem p {
    margin-top: 5px;
    font-size: 15px;
  }
  .blogItem button {
    padding: 5px 7px;
    border-radius: 3px;
    margin-left: 100px;
  }
}
