.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.blogs h2 {
  font-size: 38px;
}
.blogs h3 {
  font-size: 28px;
}
.blogItem {
  max-width: 50vw;
}
